<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="edit-post-form">
        <label for="post-title">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
        <label class="form-label" for="content">Content</label>
        <input name="content" type="text" value="{{post.content}}" class="form-input" />
        <button type="submit">Update Post</button>
        <button type="button" class="delete-post-button">Delete Post</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>