* {
    box-sizing: border-box;
}

:root {
    --primary: #ccdad1;
    --secondary: #dce9d5;
    --tertiary: #788585;
    --dark-magenta: #a1a0a1;
    --dark-red: #201110;
    --border-radius: .3rem;
}

body {
    background-color: var(--primary);
}

header {
    padding: 3%;
    background-color: var(--dark-red);
    color: var(--primary);
}

.header-link {
    color: var(--dark-magenta);
}

.header-title {
    font-size: 4rem;
    background-color: var(--primary);
    color: var(--dark-red);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 5px var(--dark-red);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 20px auto;
    width: 94%;
}