* {
    box-sizing: border-box;
}

:root {
    --primary: #ccdad1;
    --secondary: #dce9d5;
    --tertiary: #788585;
    --dark-magenta: #a1a0a1;
    --dark-red: #201110;
    --border-radius: .3rem;
}

body {
    background-color: var(--primary);
}