* {
    box-sizing: border-box;
}

:root {
    --primary: #ccdad1;
    --secondary: #dce9d5;
    --tertiary: #788585;
    --dark-magenta: #a1a0a1;
    --dark-red: #201110;
    --border-radius: .3rem;
}

body {
    background-color: var(--primary);
}

header {
    padding: 3%;
    background-color: var(--dark-red);
    color: var(--primary);
}

.header-link {
    color: var(--dark-magenta);
}

.header-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark-red);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 5px var(--dark-red);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    margin: 20px auto;
    width: 94%;
}

.nav {
    padding: 8px;
    line-height: 2;
    float: top;
}

.card {
    margin: 0 0 15px 0;
    border: 2px solid var(--dark-red);
    border-radius: var(--border-radius);
}

.card-header {
    color: var(--primary);
    background-color: var(--dark-red);
    padding: 1.5%;
    border-radius: calc(.15rem - 1px) calc(.15rem - 1px);
}

.card-body {
    padding: 2%;
}

.btn {
    background-color: var(--light-dark);
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    display: block;
    padding: 6px 5px;
    width: 100%;
    margin: 6px 0;
    color: white;
    border: none;
    outline: none;
    transform: translate(-1px, -1px);  
}

.btn:hover {
    background-color: var(--tertiary);
    color: var(--primary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark-red);
}